flows/Due_Diligence_Review.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignValuesCollMgmt</name>
        <label>AssignValuesCollMgmt</label>
        <locationX>474</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>CollateralMgmtLoop.Prior_Market_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollateralMgmtLoop.LLC_BI__Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollateralMgmtLoop.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollateralMgmtLoop.In_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewCollateralCollection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuesCollMgmt0</name>
        <label>AssignValuesCollMgmt0</label>
        <locationX>287</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>CollateralMgmtLoop0.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollateralMgmtLoop0.Prior_Market_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollateralMgmtLoop0.Prior_Market_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollateralMgmtLoop.LLC_BI__Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollateralMgmtLoop0.In_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewCollateralCollection00</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewCollateralCollection00</name>
        <label>NewCollateralCollection00</label>
        <locationX>414</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>NewCollateralCollection0</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CollateralMgmtLoop0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCollateralMgmt0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewCollateralCollection2</name>
        <label>NewCollateralCollection2</label>
        <locationX>613</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>NewCollateralCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CollateralMgmtLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCollateralMgmt</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_it_in_review</name>
        <label>Is it in review?</label>
        <locationX>145</locationX>
        <locationY>205</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>In_Review</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCollateralMgmt</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>In_Review</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCollateralMgmt0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>A flow that sets collateral value to 0 when due diligence review is required. Once in Review checkbox is unchecked, the previous market value is populated.</description>
    <dynamicChoiceSets>
        <name>Storage_Facility_c</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Storage_Facility__c</picklistField>
        <picklistObject>LLC_BI__Collateral__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Subtype_c</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LLC_BI__Subtype__c</picklistField>
        <picklistObject>LLC_BI__Collateral_Type__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_c</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LLC_BI__Type__c</picklistField>
        <picklistObject>LLC_BI__Collateral_Type__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Due Diligence Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Due Diligence Review</label>
    <loops>
        <name>LoopCollateralMgmt</name>
        <label>LoopCollateralMgmt</label>
        <locationX>559</locationX>
        <locationY>69</locationY>
        <assignNextValueToReference>CollateralMgmtLoop</assignNextValueToReference>
        <collectionReference>getCollateralMgmt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignValuesCollMgmt</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCollateralMgmt</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCollateralMgmt0</name>
        <label>LoopCollateralMgmt0</label>
        <locationX>415</locationX>
        <locationY>377</locationY>
        <assignNextValueToReference>CollateralMgmtLoop0</assignNextValueToReference>
        <collectionReference>getCollateralMgmt0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignValuesCollMgmt0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCollateralMgmt0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCollateralMgmt</name>
        <label>getCollateralMgmt</label>
        <locationX>295</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCollateralMgmt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>In_Review__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Storage_Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Storage_Facility_c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Subtype_c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Type_c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Collateral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCollateralMgmt0</name>
        <label>getCollateralMgmt0</label>
        <locationX>151</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCollateralMgmt0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>In_Review__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Storage_Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Storage_Facility_c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Subtype_c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Type_c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Collateral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCollateralMgmt</name>
        <label>UpdateCollateralMgmt</label>
        <locationX>777</locationX>
        <locationY>73</locationY>
        <connector>
            <targetReference>Collateral_Updates</targetReference>
        </connector>
        <inputReference>NewCollateralCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCollateralMgmt0</name>
        <label>UpdateCollateralMgmt0</label>
        <locationX>792</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>Collateral_Updates</targetReference>
        </connector>
        <inputReference>NewCollateralCollection0</inputReference>
    </recordUpdates>
    <screens>
        <name>Collateral_Updates</name>
        <label>Collateral Updates</label>
        <locationX>1190</locationX>
        <locationY>87</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Market_Value_Update</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;All collateral management records which met the criteria have been updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Due_Diligence_Review</name>
        <label>Due Diligence Review</label>
        <locationX>151</locationX>
        <locationY>55</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_it_in_review</targetReference>
        </connector>
        <fields>
            <name>Collateral_Type</name>
            <choiceReferences>Type_c</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Collateral Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Collateral_Subtype</name>
            <choiceReferences>Subtype_c</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Collateral Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Storage_Facility</name>
            <choiceReferences>Storage_Facility_c</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Storage Facility</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>In_Review</name>
            <dataType>Boolean</dataType>
            <fieldText>In Review</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>24</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Due_Diligence_Review</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollateralMgmtLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Collateral__c</objectType>
    </variables>
    <variables>
        <name>CollateralMgmtLoop0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Collateral__c</objectType>
    </variables>
    <variables>
        <name>NewCollateralCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Collateral__c</objectType>
    </variables>
    <variables>
        <name>NewCollateralCollection0</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Collateral__c</objectType>
    </variables>
</Flow>
