flows/Release_Collateral.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Liens_to_Collection</name>
        <label>Add Liens to Collection</label>
        <locationX>369</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>changedLiens</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lienLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Liens</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Pledged_to_Collection</name>
        <label>Add Pledged to Collection</label>
        <locationX>824</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>changedPledges</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pledgedLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Pledges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Lien_Record</name>
        <label>Change Lien Record</label>
        <locationX>144</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>lienLoop.LLC_BI__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lienLoop.LLC_BI__Expire_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lienLoop.LLC_BI__Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lienLoop.LLC_BI__Institution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lienLoop.LLC_BI__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Liens_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Pledged_Record</name>
        <label>Change Pledged Record</label>
        <locationX>576</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>pledgedLoop.LLC_BI__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pledgedLoop.nSBA__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Pledged_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>A flow that allows a user to select collateral pledge records and lien records to be altered or deleted.</description>
    <dynamicChoiceSets>
        <name>Collateral_Management_Release_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Release_Reason__c</picklistField>
        <picklistObject>LLC_BI__Collateral__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>dateToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Release Collateral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Release Collateral</label>
    <loops>
        <name>Loop_Thru_Liens</name>
        <label>Loop Thru Liens</label>
        <locationX>378</locationX>
        <locationY>517</locationY>
        <assignNextValueToReference>lienLoop</assignNextValueToReference>
        <collectionReference>liensLookup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Lien_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Thru_Pledges</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Pledges</name>
        <label>Loop Thru Pledges</label>
        <locationX>633</locationX>
        <locationY>508</locationY>
        <assignNextValueToReference>pledgedLoop</assignNextValueToReference>
        <collectionReference>collateralPledgedLookup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Pledged_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Liens</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>collateralPledgedLookup</name>
        <label>collateralPledgedLookup</label>
        <locationX>260</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>liensLookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Collateral__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>collateralManagementId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan_Collateral2__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Pledged_Status__c</queriedFields>
        <queriedFields>LLC_BI__Active__c</queriedFields>
        <queriedFields>LLC_BI__Lien_Position__c</queriedFields>
        <queriedFields>LLC_BI__Start_Date__c</queriedFields>
        <queriedFields>LLC_BI__End_Date__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>liensLookup</name>
        <label>liensLookup</label>
        <locationX>286</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rationale_of_Release_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Collateral__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>collateralManagementId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Lien__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Active__c</queriedFields>
        <queriedFields>LLC_BI__Amount__c</queriedFields>
        <queriedFields>LLC_BI__Expire_Date__c</queriedFields>
        <queriedFields>LLC_BI__Position__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LLC_BI__Institution__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Collateral_Management</name>
        <label>Update Collateral Management</label>
        <locationX>975</locationX>
        <locationY>109</locationY>
        <connector>
            <targetReference>released</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>collateralManagementId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rationale_of_Release__c</field>
            <value>
                <elementReference>Comments_on_Release</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release_Reason__c</field>
            <value>
                <elementReference>Collateral_Management_Release_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Collateral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Liens</name>
        <label>Update Liens</label>
        <locationX>688</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>Update_Pledges</targetReference>
        </connector>
        <inputReference>changedLiens</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pledges</name>
        <label>Update Pledges</label>
        <locationX>777</locationX>
        <locationY>147</locationY>
        <connector>
            <targetReference>Update_Collateral_Management</targetReference>
        </connector>
        <inputReference>changedPledges</inputReference>
    </recordUpdates>
    <screens>
        <name>Rationale_of_Release_Screen</name>
        <label>Rationale of Release Screen</label>
        <locationX>498</locationX>
        <locationY>299</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Thru_Liens</targetReference>
        </connector>
        <fields>
            <name>Release_Reason_Picklist</name>
            <choiceReferences>Collateral_Management_Release_Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Release Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Please choose the rationale of release.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments_on_Release</name>
            <dataType>String</dataType>
            <fieldText>Comments on Release</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>released</name>
        <label>released</label>
        <locationX>1208</locationX>
        <locationY>160</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>releaseMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;All collateral pledged records have been released, and all outstanding liens are now inactive.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://bankr-2412.lightning.force.com/{!collateralManagementId}&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;Navigate to Collateral&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>60</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>collateralPledgedLookup</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>changedLiens</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Lien__c</objectType>
    </variables>
    <variables>
        <name>changedPledges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan_Collateral2__c</objectType>
    </variables>
    <variables>
        <name>collateralManagementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lienLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Lien__c</objectType>
    </variables>
    <variables>
        <name>pledgedLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan_Collateral2__c</objectType>
    </variables>
</Flow>
