flows/Risk_Grade_Notching.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>negative_1</name>
        <choiceText>-1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>positive_1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>zero_0</name>
        <choiceText>0</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>notchingRiskGradeFactors</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Risk_Grade_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Notching_Template.Id</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Risk_Grade_Factor__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>riskGradeFormula</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Grade})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Risk Grade Notching {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Risk Grade Notching</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Risk_Grade_Criteria</name>
        <label>Risk Grade Criteria</label>
        <locationX>836</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>Risk_Grade_Factor_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Description__c</field>
            <value>
                <elementReference>Grade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Risk_Grade_Factor__c</field>
            <value>
                <elementReference>Risk_Grade_Factor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Risk_Grade__c</field>
            <value>
                <elementReference>Grade</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Risk_Grade_Criteria__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Risk_Grade_Factor</name>
        <label>Risk Grade Factor</label>
        <locationX>635</locationX>
        <locationY>231</locationY>
        <connector>
            <targetReference>Risk_Grade_Criteria</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Risk_Grade_Template__c</field>
            <value>
                <elementReference>Risk_Rating_Review.LLC_BI__Risk_Grade_Template__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Type__c</field>
            <value>
                <elementReference>Factor_to_Clone.LLC_BI__Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Weight__c</field>
            <value>
                <elementReference>Factor_to_Clone.LLC_BI__Weight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Factor_to_Clone.Name</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Risk_Grade_Factor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Risk_Grade_Factor_Value</name>
        <label>Risk Grade Factor Value</label>
        <locationX>1014</locationX>
        <locationY>227</locationY>
        <connector>
            <targetReference>Review</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Annual_Review__c</field>
            <value>
                <elementReference>riskRatingReviewId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Qualitative_Value__c</field>
            <value>
                <elementReference>Grade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Risk_Grade_Factor__c</field>
            <value>
                <elementReference>Risk_Grade_Factor</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Risk_Grade_Factor_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Factor_to_Clone</name>
        <label>Factor to Clone</label>
        <locationX>422</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Risk_Grade_Factor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>notchingRiskGradeFactors</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Risk_Grade_Factor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Notching_Template</name>
        <label>Notching Template</label>
        <locationX>227</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Risk_Notching</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notching</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Risk_Grade_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Risk_Rating_Review</name>
        <label>Risk Rating Review</label>
        <locationX>423</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Factor_to_Clone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>riskRatingReviewId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Annual_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Review</name>
        <label>Review</label>
        <locationX>1216</locationX>
        <locationY>253</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>reviewText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Risk Factor&lt;/b&gt;:  {!Risk_Factor}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Grade&lt;/b&gt;:  {!Grade}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Comments&lt;/b&gt;:  {!Comments}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Attached to the review&lt;/b&gt;:  {!Risk_Rating_Review.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click finish to create another factor.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Risk_Notching</name>
        <label>Risk Notching</label>
        <locationX>193</locationX>
        <locationY>265</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Risk_Rating_Review</targetReference>
        </connector>
        <fields>
            <name>Risk_Factor</name>
            <choiceReferences>notchingRiskGradeFactors</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Risk Factor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grade</name>
            <choiceReferences>negative_1</choiceReferences>
            <choiceReferences>zero_0</choiceReferences>
            <choiceReferences>positive_1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Grade</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Notching_Template</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>riskRatingReviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
