flows/Total_up_Child_Collaterals.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_up_new_parent_total</name>
        <label>Add up new parent total</label>
        <locationX>98</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>parentCollateralValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>collateralChildLoop.LLC_BI__Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentCollateralSubscription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>collateralChildLoop.Subscription_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Child_Collaterals</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Total up Child Collaterals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Total up Child Collaterals</label>
    <loops>
        <name>Loop_Thru_Child_Collaterals</name>
        <label>Loop Thru Child Collaterals</label>
        <locationX>248</locationX>
        <locationY>272</locationY>
        <assignNextValueToReference>collateralChildLoop</assignNextValueToReference>
        <collectionReference>All_Child_Collateral</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_up_new_parent_total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Collateral</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_Child_Collateral</name>
        <label>All Child Collateral</label>
        <locationX>270</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Child_Collaterals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Parent_Collateral__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentCollateralID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_to_Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Collateral__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Value__c</queriedFields>
        <queriedFields>Subscription_Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Collateral</name>
        <label>Update Parent Collateral</label>
        <locationX>475</locationX>
        <locationY>263</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentCollateralID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Value__c</field>
            <value>
                <elementReference>parentCollateralValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Amount__c</field>
            <value>
                <elementReference>parentCollateralSubscription</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Collateral__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>All_Child_Collateral</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collateralChildLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Collateral__c</objectType>
    </variables>
    <variables>
        <name>parentCollateralID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentCollateralSubscription</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>parentCollateralValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
